{% extends 'home/base.html' %} {% load static %} {% block title %}<title>
  Youtube Views Bot</title
>{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/twitter.css' %}" />
<style>
  .card {
    width: 94.7%;
    margin: 10px;
  }
</style>


  <!-- ? success message show on profiles creation  -->

  <div
  id="alertBox"
    class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
    role="alert"
    style="display: none;"
  >
    <svg
      class="flex-shrink-0 inline w-4 h-4 mr-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <div id="outputMsg"><span class="font-medium">Success! </span></div>
  </div>

  <!-- ? end success message show on profiles creation  -->

  <div
    class="mt-4 block max-w-xxl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >

  <div class="container mt-3 py-2">
    <h1 class="text-[#A5E73A] text-4xl my-4">Scrape Tiktok Live Creators</h1>
     <div class="relative w-full max-w-xxl max-h-full">
          <!-- Modal content -->
          <form
          id="liveScrapeForm"
            action=""
            class="relative bg-white rounded-lg shadow dark:bg-gray-700"
            method="post"
          >
            {% csrf_token %}
            <!-- Modal header -->
            <div
              class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Lets run the Scraper.
              </h3>
        
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <div class="grid grid-cols-6 gap-6">
                
               
                <div class="col-span-12 sm:col-span-12">
                  <label
                    for="total_browsers"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Enter the keyword for Tiktok Live Streams:</label
                  >
                  <input
                    type="text"
                    required
                    name="keyword"
                    id="keyword"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Sports"
                  />
                </div>
             
                <div class="col-span-12 sm:col-span-12">
                  <label
                    for="total_browsers"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Enter the timeout(in seconds) for each iteration:</label
                  >
                  <input
                    type="number"
                    required
                    name="timeout"
                    id="timeout"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="300"
                  />
                </div>

      
                <!-- <div class="col-span-12 sm:col-span-12">
                  <label
                    for="urls"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Enter Proxies line by line: </label
                  >
                  <textarea
                  rows="10"
                    name="proxies"
                    id="proxies"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter your Proxies here (line by line)... "
                    required=""
                  ></textarea>
                </div> -->
              </div>
            </div>
            <!-- Modal footer -->
            <div
              class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
            >
              <button
                type="submit"
                id="startBtn"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Start
              </button>
              <button
                type="button"
                id="stopBtn"
                disabled
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Stop
              </button>
            </div>
          </form>
        </div>
  </div>
  <br style="background-color: aqua;">
  </div>
<br>
  <ul class="grid w-full gap-6 md:grid-cols-2">
      <li>
          <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required>
          <label for="hosting-small" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
              <div class="block">
                  <div class="w-full text-lg font-semibold">Keyword in Progress</div>
                  <div class="w-full">{{keyword}}</div>
              </div>
              <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </label>
      </li>
      <li>
          <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
          <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class="block">
                  <a href="https://docs.google.com/spreadsheets/d/1MH-cgMx0cDULIzzUQNmok5p0QqYaPZIbBbo3Z3Ey0LQ/edit#gid=0" class="no-underline"><div class="w-full text-lg font-semibold">View Google Sheet</div></a>
                  <div class="w-full">Check the Latest Data Scraped </div>
              </div>
              <svg class="w-5 h-5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </label>
      </li>
  </ul>
  
</body>

<script>

  $("#stopBtn").click(function(){
    
    // event.preventDefault();
    var action="stop"
    rowdata = {
      action:action,
      csrfmiddlewaretoken: "{{ csrf_token }}",
    };

    $.ajax({
      method: "POST",
      url: "{% url 'tiktok' %}",
      data: rowdata,
      success: function (r) {
        const msg=r["status"]
        $("#alertBox").show();
        $("#outputMsg").text(msg);
        
        // scroll page to top
        window.scroll({top:0,behavior:"smooth"});
        // disable start button and enable stop button
        $("#startBtn").attr("disabled",false);
        $("#stopBtn").attr("disabled",true);
        // changing start button text and adding animation
        $("#startBtn").text("Start");
        $("#startBtn").removeClass("animate-pulse");

      },
      error: function (error) {
        console.log(error);
      },
    });
  })

  // submitting form using ajax when clicked on startBtn
  $("#liveScrapeForm").submit(function () {
    // disable start button and enable stop button
    $("#startBtn").attr("disabled",true);
    $("#stopBtn").attr("disabled",false);
    // changing start button text and adding animation
    $("#startBtn").text("Scraping...");
    $("#startBtn").addClass("animate-pulse");
    
    event.preventDefault();
    var keyword = $("#keyword").val();
    var timeout = $("#timeout").val();
    var action="start"
    rowdata = {
      keyword: keyword,
      timeout: timeout,
      action:action,
      csrfmiddlewaretoken: "{{ csrf_token }}",
    };

    $.ajax({
      method: "POST",
      url: "{% url 'tiktok' %}",
      data: rowdata,
      success: function (r) {
        const msg=r["status"]
        $("#alertBox").show();
        $("#outputMsg").text(msg);
        
        // scroll page to top
        window.scroll({top:0,behavior:"smooth"});
        $("#startBtn").attr("disabled",false);
        $("#stopBtn").attr("disabled",true);
        //  changing start button text and removing animation
        $("#startBtn").text("Start");
        $("#startBtn").removeClass("animate-pulse");

      },
      error: function (error) {
        console.log(error);
      },
    });
  });


</script>



{% endblock %}
